/* REGOLE GENERALI */
  .debug{
    min-height: 50px;
    background: rgba(255, 0, 0, .2);
    border: 1px solid black;
  }
/* /REGOLE GENERALI */
/* HEADER */
  /* NAVBAR */
    .ms-nav{
      height: 70px;
      background: #F8F9FA;
    }

    .ms-nav img{
      max-height: 54px;
    }

    .ms-search,
    .ms-nav-btn{
      margin: 0 !important;
      color: #5B5858;
    }

    .ms-search{
      width: 100%;
      background-color: #E5E5E5;
      border-radius: 5px;
    }

    .ms-search .form-control{
      border: none;
      background: transparent;
    }

    .ms-search .form-control:focus{
      box-shadow: none;
    }

    .ms-nav-btn .fa-bell{
      color: #FF8F00;
    }
  /* /NAVBAR */
/* /HEADER */

/* ASIDE */
  .ms-side-nav{
    height: calc(100vh - 70px);
    background: #051E34 url(../img/sidebar-bg.png);
    color: white;
  }

  .ms-side-nav .btn{
    border: none;
    border-radius: 0;
  }

  .ms-side-nav .ms-icon{
    display: inline-block;
    text-align: left;
    width: 20px;
  }
/* /ASIDE */

/* MAIN */
  .ms-wrapper{
    height: calc(100vh - 70px);
    overflow: auto;
  }

  .ms-wrapper-head{
    background: #1B72E8;
    color: white;
  }

  .ms-wrapper-head .ms-offcanvas{
    width: 100%;
  }

  @media screen and (min-width:992px) {
    .ms-wrapper-head .ms-offcanvas{
      width: 45%;
    }
  }
/* /MAIN */